/* Global settings */
* {
    border: none;
    border-radius: 0px;
    font-family: "Noto Sans", "Noto Sans Mono", sans-serif;
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
    margin: 0px;
    padding: 0px 2px;
}

/* Tooltips */
tooltip {
    background-color: #B56A63; /* foreground */
    border-radius: 15px;
    color: #121318; /* background */
    border: 0;
}

tooltip label {
    color: #121318;
}

/* Waybar window */
window#waybar {
    background: transparent;
    border-radius: 30px;
    padding-top: 2px;
    color: #B56A63;
}

/* Workspaces */
#workspaces {
    padding: 2px 2px;
    padding-top: 4px;
    background: transparent;
    border-radius: 30px;
    margin: 7px 5px;
}

#workspaces button {
    padding: 2px 2px;
    background: transparent;
    font-size: 24px;
    color: #B56A63;
    border-bottom: 0px solid transparent;
}

/* Clock */
#clock {
    padding: 2px 10px;
    color: #B56A63;
    background: #181C1F;
    border-radius: 30px;
    margin: 7px 5px;
}

/* Right-side modules: battery, audio, backlight, network, power, mpris */
#battery,
#custom-power,
#backlight,
#network,
#mpris {
    padding: 5px 11px; /* vertically center content */
    background: transparent;
    border-radius: 30px;
    margin: 7px 5px;
    font-size: 16px;
    color: #B56A63;
}

#pulseaudio {
    padding: 2px 11px;          /* horizontal padding stays */
    margin: 15px 5px 7px 5px;   /* top, right, bottom, left */
    background: transparent;
    border-radius: 30px;
    font-size: 16px;
    color: #B56A63;
}
